@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #e7e7e7;
    border: 1px solid #5c5c5c;
    padding: 1em;
}

tbody tr {
    border: 1px solid #000000;
}

td {
    border: 1px solid #5c5c5c;
    padding: 1em;
}